<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2023-01-01">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# **Data Wrangling Lab**

Estimated time needed: **45 to 60** minutes

In this assignment you will be performing data wrangling.

## Objectives

In this lab you will perform the following:

-   Identify duplicate values in the dataset.

-   Remove duplicate values from the dataset.

-   Identify missing values in the dataset.

-   Impute the missing values in the dataset.

-   Normalize data in the dataset.

<hr>

## Hands on Lab

Import pandas module.

In [1]:
import pandas as pd

Load the dataset into a dataframe.

In [2]:
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/labs/Capstone_edX/Module%201/survey_results_public_2020.csv")

## Finding duplicates

In this section you will identify duplicate values in the dataset.

 Find how many duplicate rows exist in the dataframe.

In [15]:
missing_hobbyist = df["Hobbyist"].isna().sum()
print("Missing rows in Hobbyist column:", missing_hobbyist)

duplicate_rows = df[df.duplicated()]
num_duplicate_rows = len(duplicate_rows)
print("Number of duplicate rows:", num_duplicate_rows)

Missing rows in Hobbyist column: 0
Number of duplicate rows: 0

## Removing duplicates

Remove the duplicate rows from the dataframe.

In [4]:
df = df.drop_duplicates()
df.shape

(64461, 61)

Verify if duplicates were actually dropped.

In [5]:
duplicate_rows = df[df.duplicated()]
num_duplicate_rows = len(duplicate_rows)
print("Number of duplicate rows:", num_duplicate_rows)

Number of duplicate rows: 0

## Finding Missing values

Find the missing values for all columns.

In [16]:
df.isna()

,Respondent,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,...,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro,NormalizedAnnualCompensation
9,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
32,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
41,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
46,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
68,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61636,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
61654,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
61993,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
63141,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
63517,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [7]:
df.isnull()

,Respondent,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,...,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
0,False,False,False,True,False,False,True,True,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,True,False,True,True,True,False,False,...,True,True,True,False,True,True,False,True,False,False
2,False,False,False,True,False,True,True,True,False,True,...,False,False,True,True,True,True,False,True,False,True
3,False,False,False,False,False,True,True,True,False,False,...,True,True,False,False,True,True,False,False,False,False
4,False,False,False,False,False,True,True,True,False,True,...,False,False,False,False,False,False,False,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64456,False,True,False,True,False,True,True,True,False,True,...,True,True,True,False,True,True,True,True,False,False
64457,False,True,False,True,True,True,True,True,False,True,...,True,True,True,True,True,True,True,True,True,True
64458,False,True,False,True,True,True,True,True,False,True,...,True,True,True,True,True,True,True,True,True,True
64459,False,True,False,True,True,True,True,True,False,True,...,True,True,True,True,False,True,True,True,True,True
64460,False,True,False,True,True,True,True,True,False,True,...,True,True,True,False,False,False,True,True,True,True

## Imputing missing values

Find the  value counts for the column Age.

In [8]:
age_counts = df["Age"].value_counts()
print(age_counts)

25.0    2693
28.0    2412
30.0    2406
26.0    2391
27.0    2338
        ...
34.5       1
14.7       1
97.0       1
3.0        1
14.5       1
Name: Age, Length: 110, dtype: int64

Find the median for the column Age

In [9]:
age_median = df["Age"].median()
print("Median Age:", age_median)

Median Age: 29.0

Impute the median value to Age column

In [10]:
df["Age"].fillna(age_median, inplace=True)

Identify the value that is most frequent (majority) in the Country column.

In [11]:
most_frequent_country = df["Country"].value_counts().idxmax()
print("Most Frequent Country:", most_frequent_country)

Most Frequent Country: United States

Drop all the missing values from the dataset

In [12]:
df.dropna(inplace=True)

## Normalizing data

There are two columns in the dataset that talk about compensation.

One is "CompFreq". This column shows how often a developer is paid (Yearly, Monthly, Weekly).

The other is "CompTotal". This column talks about how much the developer is paid per Year, Month, or Week depending upon his/her "CompFreq". 

This makes it difficult to compare the total compensation of the developers.

In this section you will create a new column called 'NormalizedAnnualCompensation' which contains the 'Annual Compensation' irrespective of the 'CompFreq'.

Once this column is ready, it makes comparison of salaries easy.

<hr>

List out the various categories in the column 'CompFreq'

In [13]:
compfreq_categories = df["CompFreq"].unique()
print(compfreq_categories)

['Yearly' 'Monthly' 'Weekly']

Create a new column named 'NormalizedAnnualCompensation'. Use the hint given below if needed.

Double click to see the **Hint**.

<!--

Use the below logic to arrive at the values for the column NormalizedAnnualCompensation.

If the CompFreq is Yearly then use the exising value in CompTotal
If the CompFreq is Monthly then multiply the value in CompTotal with 12 (months in an year)
If the CompFreq is Weekly then multiply the value in CompTotal with 52 (weeks in an year)

-->

In [14]:
df['NormalizedAnnualCompensation'] = df.apply(lambda row: row['CompTotal'] if row['CompFreq'] == 'Yearly' else 
                                    row['CompTotal'] * 12 if row['CompFreq'] == 'Monthly' else
                                    row['CompTotal'] * 52 if row['CompFreq'] == 'Weekly' else None, axis=1)
print(df)

       Respondent                      MainBranch Hobbyist   Age Age1stCode  \
9              10  I am a developer by profession      Yes  22.0         14
32             33  I am a developer by profession      Yes  39.0         14
41             42  I am a developer by profession       No  32.0         14
46             47  I am a developer by profession      Yes  53.0         10
68             69  I am a developer by profession      Yes  25.0         12
...           ...                             ...      ...   ...        ...
61636       62886  I am a developer by profession      Yes  32.0         24
61654       62904  I am a developer by profession      Yes  33.0         24
61993       63288  I am a developer by profession       No  31.0         16
63141       64523  I am a developer by profession       No  29.0         15
63517       64938  I am a developer by profession       No  33.0         13

      CompFreq  CompTotal  ConvertedComp         Country  \
9       Yearly    25000.0        32315.0  United Kingdom
32     Monthly     4900.0        63564.0         Belgium
41      Yearly   130000.0       130000.0   United States
46      Yearly    58000.0        74970.0  United Kingdom
68      Yearly   550000.0       594539.0          France
...        ...        ...            ...             ...
61636   Yearly   102700.0       102700.0   United States
61654   Yearly    95000.0        95000.0   United States
61993   Yearly    65000.0        84019.0  United Kingdom
63141  Monthly     8500.0        23364.0          Brazil
63517   Yearly    55000.0        59454.0          France

               CurrencyDesc  ...           SurveyLength Trans  \
9            Pound sterling  ...  Appropriate in length    No
32            European Euro  ...  Appropriate in length    No
41     United States dollar  ...  Appropriate in length    No
46           Pound sterling  ...  Appropriate in length    No
68            European Euro  ...              Too short    No
...                     ...  ...                    ...   ...
61636  United States dollar  ...  Appropriate in length    No
61654  United States dollar  ...               Too long    No
61993        Pound sterling  ...  Appropriate in length    No
63141        Brazilian real  ...  Appropriate in length    No
63517         European Euro  ...  Appropriate in length    No

                                          UndergradMajor  \
9                              Mathematics or statistics
32     Computer science, computer engineering, or sof...
41     Computer science, computer engineering, or sof...
46     A natural science (such as biology, chemistry,...
68     Computer science, computer engineering, or sof...
...                                                  ...
61636  Information systems, information technology, o...
61654  Computer science, computer engineering, or sof...
61993  Computer science, computer engineering, or sof...
63141  Computer science, computer engineering, or sof...
63517  Computer science, computer engineering, or sof...

                             WebframeDesireNextYear  \
9                                      Flask;jQuery
32            Express;Gatsby;React.js;Ruby on Rails
41                              ASP.NET Core;Spring
46                                     Flask;Spring
68                                     Django;Flask
...                                             ...
61636                                       Angular
61654                              Express;React.js
61993                    Angular;Angular.js;Express
63141  Angular;ASP.NET;ASP.NET Core;React.js;Vue.js
63517                                  Django;Flask

                               WebframeWorkedWith  \
9                                    Flask;jQuery
32     Angular;Angular.js;Django;Express;React.js
41                  ASP.NET;Flask;React.js;Spring
46                                   Flask;Spring
68                                   Django;Flask
...                                           ...
61636             Angular;Angular.js;ASP.NET Core
61654             Express;Laravel;React.js;Vue.js
61993                  Angular;Angular.js;Express
63141                 ASP.NET;ASP.NET Core;jQuery
63517           Django;Flask;jQuery;Ruby on Rails

                                  WelcomeChange WorkWeekHrs YearsCode  \
9      Somewhat more welcome now than last year        36.0         8
32      Just as welcome now as I felt last year        40.0        20
41     Somewhat less welcome now than last year        37.0        16
46      Just as welcome now as I felt last year        40.0        43
68      Just as welcome now as I felt last year        40.0        13
...                                         ...         ...       ...
61636  Somewhat more welcome now than last year        45.0         7
61654   Just as welcome now as I felt last year        50.0         9
61993   Just as welcome now as I felt last year        40.0        14
63141  Somewhat more welcome now than last year        40.0        19
63517   Just as welcome now as I felt last year        40.0        20

      YearsCodePro NormalizedAnnualCompensation
9                4                      25000.0
32              14                      58800.0
41              10                     130000.0
46              28                      58000.0
68               3                     550000.0
...            ...                          ...
61636            5                     102700.0
61654            7                      95000.0
61993            7                      65000.0
63141           17                     102000.0
63517           12                      55000.0

[4387 rows x 62 columns]

## Authors

Ramesh Sannareddy

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2020-10-17        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |

 Copyright © 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2023-01-01&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).